1

In [16]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score

In [3]:
from sklearn.datasets import load_boston

In [4]:
boston = load_boston()
data = boston["data"]

In [5]:
feature_names = boston["feature_names"]

x = pd.DataFrame(data, columns=feature_names)
x.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

In [8]:
target = boston["target"]

y = pd.DataFrame(target, columns=["price"])
y.head(11)

    price
0    24.0
1    21.6
2    34.7
3    33.4
4    36.2
5    28.7
6    22.9
7    27.1
8    16.5
9    18.9
10   15.0

In [9]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.30, random_state=42)

In [10]:
lr = LinearRegression()

In [11]:
lr.fit(x_train, y_train)

LinearRegression()

In [20]:
y_pred_lr = lr.predict(x_test)
check_test_lr = pd.DataFrame({
    "y_test": y_test["price"], 
    "y_pred_lr": y_pred_lr.flatten()})

check_test_lr.head(11)

     y_test  y_pred_lr
173    23.6  28.648960
274    32.4  36.495014
491    13.6  15.411193
72     22.8  25.403213
452    16.1  18.855280
76     20.0  23.146689
316    17.8  17.392124
140    14.0  14.078599
471    19.6  23.036927
500    16.8  20.599433
218    21.5  24.822862

In [14]:
mean_squared_error_lr = mean_squared_error(check_test_lr["y_pred_lr"], check_test_lr["y_test"])
print(mean_squared_error_lr)

21.517444231176995

In [19]:
r2_score(y_test, y_pred_lr)

0.711226005748496

2

In [22]:
from sklearn.ensemble import RandomForestRegressor

In [23]:
clf = RandomForestRegressor(n_estimators=1000, max_depth=12, random_state=42)

In [25]:
clf.fit(x_train, y_train.values[:, 0])

RandomForestRegressor(max_depth=12, n_estimators=1000, random_state=42)

In [28]:
y_pred_clf = clf.predict(x_test)
check_test_clf = pd.DataFrame({
    "Y_test": y_test["price"], 
    "Y_pred_clf": y_pred_clf.flatten()})

check_test_clf.head()

     Y_test  Y_pred_clf
173    23.6   22.806412
274    32.4   31.131464
491    13.6   16.339125
72     22.8   23.810726
452    16.1   17.139521

In [30]:
mean_squared_error_clf = mean_squared_error(check_test_clf["Y_pred_clf"], check_test_clf["Y_test"])
mean_squared_error_clf

9.334548946165196

In [31]:
mean_squared_error_lr, mean_squared_error_clf

(21.517444231176995, 9.334548946165196)